@model Project_Quizz_Frontend.Models.SoloQuizAnswerResultViewModel

@{
	ViewData["Title"] = "Solo Quiz";
}

@{
	int totalQuestions = 5;
	int? remainingQuestions = Model.QuestionCount;
	int? completedQuestions = totalQuestions - remainingQuestions;
	double progressPercentage = (double)completedQuestions / totalQuestions * 100;
}

<div class="alert alert-success"
	 role="alert"
	 id="SuccessMessage"
	 data-mdb-position="top-right"
	 data-mdb-stacking="true"
	 data-mdb-width="300px"
	 data-mdb-append-to-body="true"
	 style="display: none;">
	<i class="far fa-circle-check me-2"></i>
	Feedback erfolgreich eingereicht
</div>

<div class="alert alert-danger"
	 role="alert"
	 id="ErrorMessage"
	 data-mdb-position="top-right"
	 data-mdb-stacking="true"
	 data-mdb-width="300px"
	 data-mdb-append-to-body="true"
	 style="display: none;">
	<i class="far fa-circle-check me-2"></i>
	Es gab ein Problem beim verarbeiten deines Feedback. Bitte probiere es später nochmal!
</div>

<div class="card text-center">
	@if (Model.GivenAnswerIds != null && Model.GivenAnswerIds.All(x => x.IsCorrectAnswer))
	{
		<div class="alert alert-success">
			Die Antwort ist richtig!
		</div>
	}
	else
	{
		<div class="alert alert-danger">
			Diese Antwort ist leider Falsch!
		</div>
	}
	<div class="card-header">
		<h2>Frage @completedQuestions</h2>
	</div>
	<div class="card-body">
		<form method="post">
			<label asp-for="@Model.QuizQuestionDto.QuestionText"><h5>@Model.QuizQuestionDto.QuestionText</h5></label>

			<div class="d-flex justify-content-center mt-4 mb-4">
				<div class="row">
					@foreach (var answer in Model.QuizQuestionDto.Answers)
					{
						bool isAnswerGiven = Model.GivenAnswerIds.Any(givenAnswer => givenAnswer.QuizQuestionAnswerId == answer.Id);
						<div class="col-md-6 form-group">
							<div class="form-check">
								@if (Model.IsMultipleChoice)
								{
									<input class="form-check-input" type="checkbox" name="selectedAnswerId" id="@answer.Id" value="@answer.Id" disabled @(isAnswerGiven ? "checked" : "")/>
									<label class="form-check-label @(isAnswerGiven ? (answer.IsCorrectAnswer ? "text-success" : "text-danger") : (answer.IsCorrectAnswer ? "text-success" : "text-danger"))" for="@answer.Id" style="@(answer.IsCorrectAnswer || !answer.IsCorrectAnswer ? "font-weight: bold;" : "")">@answer.AnswerText</label>
								}
								else
								{
									<input class="form-check-input" type="radio" name="selectedAnswerId" id="@answer.Id" value="@answer.Id" disabled @(isAnswerGiven ? "checked" : "")/>
									<label class="form-check-label @(answer.IsCorrectAnswer ? "text-success" : "text-danger")" for="@answer.Id" style="@(answer.IsCorrectAnswer || !answer.IsCorrectAnswer ? "font-weight: bold;" : "")">@answer.AnswerText</label>
								}
							</div>
						</div>
					}
				</div>
			</div>
			<div>
				@if (!Model.QuizComplete)
				{
					<button type="button" onclick="location.href='@Url.Action("GetQuestion", "SingleplayerQuiz", new { quizId = Model.QuizId})'" class="btn btn-primary">Nächste Frage</button>
					<button type="button" class="btn btn-primary" data-mdb-modal-init data-mdb-target="#feedbackModal">
						Feedback
					</button>
					<a href="@Url.Action("Index", "Home")" class="btn btn-danger">Quiz Beenden</a>
				}
			</div>
		</form>
		@if (Model.QuizComplete)
		{
			<button class="btn btn-success" onclick="location.href='@Url.Action("QuizComplete", "SingleplayerQuiz", new { quizId = Model.QuizId})'">Quiz Abschließen</button>
		}
	</div>
	<div class="progress">
		<div class="progress-bar rounded-bottom" role="progressbar" style="width: @progressPercentage%;" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100"></div>
	</div>
</div>




<!-- Feedback Modal -->
<div class="modal top fade" id="feedbackModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true">
  <div class="modal-dialog modal-lg ">
		<form asp-controller="QuestionFeedback" asp-action="CreateFeedbackForQuestion">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Feedback</h5>
					<input hidden value="@Model.QuizQuestionDto.QuestionId" name="questionId" />
					<button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="form-outline" data-mdb-input-init>
						<textarea class="form-control" rows="4" name="feedback"></textarea>
						<label class="form-label" for="textAreaExample">Ihr Feedback...</label>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
						Close
					</button>
					<button id="submitFeedback" type="button" class="btn btn-success">Save changes</button>
				</div>
			</div>
	  </form>
  </div>
</div>




@section scripts {
	<script>
		$(document).ready(function () {
			$('#submitFeedback').click(function () {
				var questionId = $('input[name="questionId"]').val();
				var feedback = $('textarea[name="feedback"]').val();

				$.ajax({
					url: '@Url.Action("CreateFeedbackForQuestion", "QuestionFeedback")',
					type: 'POST',
					data: {
						questionId: questionId,
						feedback: feedback
					},
					success: function (response) {
						$('#feedbackModal').modal('hide');

						if (response.success) {
							// Zeige Erfolgsmeldung
							$('#SuccessMessage').show().delay(6000).fadeOut();
						} else {
							// Zeige Fehlermeldung
							$('#ErrorMessage').show().delay(6000).fadeOut();
						}
					},
					error: function () {
						$('#feedbackModal').modal('hide');
						// Zeige Fehlermeldung für Netzwerk- oder Serverfehler
						$('#ErrorMessage').show().delay(6000).fadeOut();
					}
				});
			});
		});
	</script>
}

