@{
	ViewData["Title"] = "Create Quiz Question";
}

@if (TempData["SuccessMessage"] != null)
{
	<div class="alert alert-success">
		@TempData["SuccessMessage"]
	</div>
}

@if (TempData["ErrorMessage"] != null)
{
	<div class="alert alert-danger">
		@TempData["ErrorMessage"]
	</div>
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Quiz" asp-action="CreateQuizOnDB" method="post">
	
	<!--The "asp-for" does NOT work combined with TempData. -->
	@*
		<div class="form-group">
		<label for="questionText">Question:</label>
		<input type="text" class="form-control" id="questionText" asp-for="questionText" required />
		</div>
	*@

	<div class="form-group">
		<label for="QuestionText">Question:</label>
		<input type="text" class="form-control" id="QuestionText" name="questionText" value="@Model.QuestionText" required/>
	</div>


	<div class="row">
		@{
			int i = 0;
			foreach (var answer in Model.Answers)
			{
				<div class="col-md-6 form-group">
					<label for="answerText_@i">Answer @(i + 1):</label>
					<input type="text" class="form-control" id="answerText_@i" name="answers[@i].answerText" value="@answer.AnswerText" required/>

					<div class="form-check">
						<!-- Ensure each radio button has a unique ID -->
						<input class="form-check-input" type="radio" name="correctAnswer" id="correctAnswer_@i" value="@i" @(answer.IsCorrectAnswer ? "checked='checked'" : "")/>
						<!-- Associate the label with the radio button by matching the 'for' attribute with the input's 'id' -->
						<label class="form-check-label" for="correctAnswer_@i">
							Correct Answer
						</label>
					</div>
					<br>
				</div>
				i++;
			}
		}
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>