@model List<HighscoreDataDto>

@{
    var orderedSingleList = Model.OrderByDescending(x => x.TotalPointWorthSingle).ToList();
    int count = 1;
}

<table id="" class="display hover" style="width:100%">
    <caption>Highscore Tabelle Einzelspieler</caption>
    <thead>
        <tr>
            <th class="text-start">Platz</th>
            <th>Username</th>
            <th>Spiele</th>
            <th>Punktwert</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in orderedSingleList)
        {
            if (ViewBag.UserName == user.UserId)
            {
                <tr style="background-color:darksalmon">
                    <td class="text-start">@count.ToString()</td>
                    <td class="text-start">@user.UserId</td>
                    <td>@user.TotalSingleGames</td>
                    <td>@user.TotalPointWorthSingle</td>
                </tr>
            }
            else
            {
                <tr>
                    <td class="text-start">@count.ToString()</td>
                    <td class="text-start">@user.UserId</td>
                    <td>@user.TotalSingleGames</td>
                    <td>@user.TotalPointWorthSingle</td>
                </tr>
            }
            count++;
        }
    </tbody>
</table>

