@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@* <h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.UserName" class="form-control" autocomplete="name" aria-required="true"/>
                    <label asp-for="Input.UserName" class="form-label">User Name</label>
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div> *@

<div class="container my-5">

    <section class="mb-10">
        <div class="px-4 py-5 px-md-5 text-center text-lg-start"
             style="background-color: hsl(0, 0%, 96%)">
            <div class="container">
                <div class="row gx-lg-5 align-items-center">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <h1 class="my-5 display-3 fw-bold ls-tight">
                            Die erste QuizApp <br />
                            <span class="text-primary">für Studierende</span>
                        </h1>
                        <p style="color: hsl(217, 10%, 50.8%)">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Eveniet, itaque accusantium odio, soluta, corrupti aliquam
                            quibusdam tempora at cupiditate quis eum maiores libero
                            veritatis? Dicta facilis sint aliquid ipsum atque?
                        </p>
                    </div>

                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="card">
                            <div class="card-body py-5 px-md-5">
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <form id="account" method="post">
                                    <div class="form-outline mb-4" data-mdb-input-init>
                                        <input asp-for="Input.UserName" class="form-control" autocomplete="name" aria-required="true" />
                                        <label asp-for="Input.UserName" class="form-label">Username</label>
                                    </div>
                                    <div class="form-outline mb-4" data-mdb-input-init>
                                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                                        <label asp-for="Input.Password" class="form-label">Password</label>
                                    </div>
                                    <div class="checkbox mb-3">
                                        <label asp-for="Input.RememberMe" class="form-label">
                                            <input class="form-check-input" asp-for="Input.RememberMe" />
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                    <button id="login-submit" type="submit" class="btn btn-dark btn-block mb-4" data-mdb-ripple-init>Login</button>
                                    <a href="#!" class="fw-bold">Passswort vergessen? (Not implemented yet)</a>

                                    <hr class="my-5" />

                                    <h4 class="mb-4">Ich bin neu hier</h4>
                                    <a type="button" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-outline-dark btn-block mb-5" data-mdb-ripple-init>Register</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
