@model GetQuestionForEditingDto

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success"
         role="alert"
         id="SuccessMessage"
         data-mdb-position="top-right"
         data-mdb-stacking="true"
         data-mdb-width="300px"
         data-mdb-append-to-body="true">
        <i class="far fa-circle-check me-2"></i>
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger"
         role="alert"
         id="ErrorMessage"
         data-mdb-position="top-right"
         data-mdb-stacking="true"
         data-mdb-width="300px"
         data-mdb-append-to-body="true">
        <i class="fas fa-skull-crossbones me-2"></i>
        <p>@TempData["ErrorMessage"]<p>
    </div>
}

<div class="card text-center border border-primary shadow-0">
    <div class="card-header"><h2>Frage anpassen</h2></div>

    <div class="card-body card-body-menu mt-4 mb-4">
        <form asp-controller="MyArea" asp-action="UpdateModifiedQuestion">

            <div class="form-group mb-4">
                <select id="categorieSelect" data-mdb-select-init data-selected-categorie="@Model.Categorie.CategorieId" asp-for="@Model.Categorie.CategorieId" required>
                    @foreach (var category in ViewBag.Categories)
                    {
                        <option value="@category.CategorieId">@category.Name</option>
                    }
                </select>
                <label class="form-label select-label">Kategorie</label>
            </div>

            <div class="form-outline mb-4" data-mdb-input-init>
	            <input type="text" id="question" class="form-control form-control-lg" asp-for="@Model.QuestionText" required />
	            <label class="form-label" for="question">Frage</label>
            </div>
            
            <div class="form-check form-check-inline">
	            <input class="form-check-input" type="checkbox" id="IsMultipleChoice" @(Model.IsMultipleChoice ? "checked='checked'" : "") />
	            <input type="hidden" name="isMultipleChoice" id="IsMultipleChoiceHidden" value="@(Model.IsMultipleChoice ? "true" : "false")" />
	            <label class="form-check-label" for="IsMultipleChoice">
		            Multiple Choice
	            </label>
            </div>

            <div class="row mb-4">
                @for (int i = 0; i < Model.Answers.Count; i++)
                {
                    <div class="col-md-6 form-group mb-4">
                        <input hidden asp-for="@Model.Answers[i].Id" />
                        <div class="form-outline mb-2" data-mdb-input-init>
                            <input type="text" id="@("answer" + i)" class="form-control form-control-lg" asp-for="@Model.Answers[i].AnswerText" required />
                            <label class="form-label" for="@("answer" + i)">@("Antwort" + " " + (i + 1))</label>
                        </div>

                        @if (Model.Answers[i].IsCorrectAnswer)
                        {
                            <div class="form-check mb-4">
	                            <input class="form-check-input correctAnswer" type="@(Model.IsMultipleChoice ? "checkbox" : "radio")" name="correctAnswer" id="correctAnswer_@i" value="@i" @(Model.Answers[i].IsCorrectAnswer ? "checked='checked'" : "") />
                                <label class="form-check-label" for="@("answer" + i + "IsCorrect")"> Richtige Antwort </label>
                            </div>
                        }
                        else
                        {
                            <div class="form-check mb-4">
	                            <input class="form-check-input correctAnswer" type="@(Model.IsMultipleChoice ? "checkbox" : "radio")" name="correctAnswer" id="correctAnswer_@i" value="@i" @(Model.Answers[i].IsCorrectAnswer ? "checked='checked'" : "") />
                                <label class="form-check-label" for="@("answer" + i + "IsCorrect")"> Richtige Antwort </label>
                            </div>
                        }
                    </div>
                }
            </div>
            <button type="submit" class="btn btn-success btn-menu mb-5" id="saveButton">Speichern</button>
        </form>
    </div>
    <div class="card-footer d-flex justify-content-between align-items-center">
        <a type="button" class="btn btn-primary btn-menu-footer" asp-controller="MyArea" asp-action="MyAreaIndex" id="leftButton">Mein Bereich</a>
        <a type="button" class="btn btn-primary btn-menu-footer" asp-controller="Home" asp-action="Index" id="leftButton">Zum Hauptmenü</a>
    </div>
    
    
    
    
    

    <div class="card-footer mt-5">
        <h3>Feedback</h3>
        <div style="width:100%">
            <table id="feedbackOverview" class="display hover" style="width:100%">
                <caption>Feedback Übersicht</caption>
                <thead>
                    <tr>
                        <th>Feedback</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.Feedbacks != null)
                    {
                        foreach (var feedback in ViewBag.Feedbacks)
                        {
                            <tr>
                                <td>
                                    <div class="d-flex mb-5">
                                        <div class="flex-grow-1 ms-3 border-bottom" style="border-bottom: 2px solid #f5f5f5 !important">
                                            <p class="mb-2">
                                                <span class="h5">@feedback.UserId</span><span style="color: #ccc;"> • </span> <span class="small text-muted">@feedback.CreateDate.ToString("dd-MM-yy HH:mm")</span>
                                            </p>
                                            <p>
                                                @feedback.Feedback
                                            </p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>
                                <div class="d-flex mb-5">
                                    <div class="flex-grow-1 ms-3 border-bottom" style="border-bottom: 2px solid #f5f5f5 !important">
                                        <p class="mb-2">
                                            <span class="h5"></span><span style="color: #ccc;"> • </span> <span class="small text-muted"></span>
                                        </p>
                                        <p>
                                            Kein Feedback vorhanden
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


</div>

@section scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            setTimeout(function () {
                var errorDiv = document.getElementById("ErrorMessage");
                var successDiv = document.getElementById("SuccessMessage")
                if (errorDiv) {
                    errorDiv.style.display = "none";
                }
                if (successDiv) {
                    successDiv.style.display = "none";
                }
            }, 6000);
        });

        function updateAnswerInputs() {
        var isMultipleChoice = document.getElementById('IsMultipleChoice').checked;
        document.getElementById('IsMultipleChoiceHidden').value = isMultipleChoice ? 'true' : 'false';
        var correctAnswerInputs = document.getElementsByClassName('correctAnswer');
        for (var i = 0; i < correctAnswerInputs.length; i++) {
            correctAnswerInputs[i].type = isMultipleChoice ? 'checkbox' : 'radio';
        }
	        }

        document.querySelector('form').addEventListener('submit', updateAnswerInputs);
        document.getElementById('IsMultipleChoice').addEventListener('change', updateAnswerInputs);

        new DataTable('#feedbackOverview', {
            pagingType: 'full_numbers',
            scrollX: true,
            lengthMenu: [
                [3, 6, 12, 18, -1],
                [3, 6, 12, 18, 'All']
            ],
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.11.5/i18n/de-DE.json'
            }
        });

        window.addEventListener('load', updateAnswerInputs);
    </script>
}