@model Project_Quizz_Frontend.Models.QuizQuestionViewModel

@{
	ViewData["Title"] = "Create Quiz Question";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Quiz" asp-action="CreateQuizOnDB" method="post">
	<div class="form-group">
		<label for="QuestionText">Question:</label>
		<input type="text" class="form-control" id="QuestionText" asp-for="QuestionText" required />
	</div>

	<div class="row">
		@for (var i = 0; i < Model.Answers.Count; i++)
		{
			<div class="col-md-6 form-group">
				<label asp-for="@Model.Answers[i].AnswerText">Answer @(i + 1):</label>
				<input type="text" class="form-control" asp-for="@Model.Answers[i].AnswerText" required />

				<div class="form-check">
					<!-- Ensure each radio button has a unique ID -->
					<input class="form-check-input" type="radio" name="CorrectAnswer" id="CorrectAnswer_@i" value="@i" @(Model.Answers[i].IsCorrectAnswer ? "checked='checked'" : "") />
					<!-- Associate the label with the radio button by matching the 'for' attribute with the input's 'id' -->
					<label class="form-check-label" for="CorrectAnswer_@i">
						Correct Answer
					</label>
				</div>
				<br>
			</div>
		}
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>